!!! 5
%html{:lang => "en"}
  %head
    %title= "#{@slug} — What day is it today?"
    %meta{name: "description", content: "#{@slug} #{info}"}
    %link{"rel" => "stylesheet", "href" => "/stylesheets/#{stylesheet_mood}.css", "type" => "text/css"}

  %body
    #block
      %h1= @slug
      %h2= info
    %p#result= result
    = render "analytics", :day => @day